body {
  font-family: Arial, Helvetica, sans-serif;
}

$primary: rgb(228, 0, 228);
$secondary: rgb(228, 0, 128);

@import "~bootstrap/scss/bootstrap";

.kbcontainer {
  min-height: 80vh;
}
.kbboard {
  min-height: 80vh;
  height: 100%;
  width: 100%;
  display: grid;
}

@media (min-width: 62em) {
  .kbboard {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}


.kbcolumn {
  background-color: DodgerBlue;
  height: 100%;
  color: white;
  margin: 5px;
  .header {
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 750;
  }
}

.kbcardZZZZ {
  border: 1px solid black;
  background-color: purple;
  font-size: 16px;
}

.dragging {
  background-color: green;
  opacity: 0.5;
}


.hashlink { 
  display: inline;
  border: none;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  color: inherit;
  padding: 0;
}

.card {
  border-color: none;
  .card-header,
  .card-body,
  .card-footer {
    padding: 2px 4px;
    border: none;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

.colorpicker .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  font-size: 12px;
  max-width: 275px;
}

.fg-black {
  color: black;
}


